<tr>
  <td>
    <% if answer.correct %>
      <b><%= answer.body %> </b>
    <% else %>
      <%= answer.body %>
    <% end %>
  </td>
  <td>
  <%= link_to t('.edit'), edit_admin_answer_path(answer), class: 'btn btn-primary' %>
</td>
<td>
  <%= link_to t('.delete'), admin_answer_path(answer), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: t('confirm_delete') } %>
</td>
</tr>
