<footer class="footer">
  <div class="d-flex justify-content-between">
    <p>
      <%= current_year %> Учебный проект "Создание и прохождение тестов"
      в онлайн-школе
      <%= link_to 'Thinknetica', 
      'http://thinknetica.com', target: '_blank', rel: %w[nofollow noopener]
     %>
      <%= github_url('slydevruby', 'test-guru') %>
    </p>
    <p><%= link_to t(:feedback_link), feedbacks_new_path, class: 'btn btn-secondary' %></p>
  </div>
</footer>